fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.3
python-multipart==0.0.19
typing==3.7.4.3
pymysql==1.1.1
sqlalchemy==2.0.36
aioredis==2.0.1
async-timeout==5.0.1
mysql-connector-python==9.1.0
injector==0.22.0
sqlmodel==0.0.22